<div class="jumbotron">
  <h1 class="text-center">Crypto Currency Zone</h1>
  <P class="text-center">A simple app to help you manage your crypto currency</P>
  <div class="text-center">
      <%= link_to '<button class="btn btn-primary">Sign Up</button>'.html_safe, new_user_registration_path %>
      <%= link_to '<button class="btn btn-primary">Sign In</button>'.html_safe, user_session_path %>
  </div>
</div>